<strong>Hi, {{ organizer }} </strong>
<p> You've got a new person coming to your event. More details below: </p>
<p>
  <strong>Name: </strong> {{ user }} <br />
  <strong>Event attending: </strong> {{ eventName }} <br />
  <strong>Event date: </strong> {{ eventDate }} <br /><br />
  <small>
    Reach out to {{ user }} by email: {{ userEmail }}
  </small>
</p>
